Package: ai.paisseon.dodontsuggest
Name: Dodon't Suggest My Music
Author: Paisseon
Description: Customisation for the Dodo tweak
Maintainer: Paisseon
Version: 1.3
Depends: firmware (>= 13.0), mobilesubstrate, org.thebigboss.libcolorpicker
Architecture: iphoneos-arm
Icon: https://paisseon.github.io/info/dodontsuggest.png
